<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>送男生的小礼物</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14566975&amp;q=男生礼物，创意礼物，爱心礼物，男士礼物，小礼物
        </string>
        <key>送女生的小礼物</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14578687&amp;q=女生礼物，创意礼物，爱心礼物，女士礼物，小礼物
        </string>
        <key>鲜花</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14602076&amp;q=鲜花，玫瑰花，蓝色妖姬
        </string>
        <key>巧克力</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14604079&amp;q=巧克力，进口巧克力，心形巧克力
        </string>
        <key>电影票</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14614073&amp;q=团购电影，电影票，电影团体票，团购电影票
        </string>
        <key>情侣装</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14588317&amp;q=情侣装，情侣鞋，情侣衣服，情侣裤子，情侣套装
        </string>
        <key>送女生的饰品</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14568951&amp;q=女生饰品，女士饰品，中性饰品，情侣饰品
        </string>
        <key>送男生的饰品</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14574730&amp;q=男生饰品，男士饰品，中性饰品，情侣饰品
        </string>
        <key>情趣用品</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14586357&amp;q=情趣用品，避孕套，避孕药，验孕，情趣内衣
        </string>
        <key>情侣礼物</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14574728&amp;q=情侣礼物，恋爱礼物，恋爱商品，小礼物，情人礼物
        </string>
        <key>特价酒店</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14616082&amp;q=特价酒店，快捷酒店，高档酒店，星级酒店
        </string>
        <key>特价旅游</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14608067&amp;q=特价旅行，特价旅游，旅游促销，蜜月游，亲自旅游
        </string>
        <key>送长辈的礼物</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14606077&amp;q=孝敬长辈，送长辈，送公婆，送婆婆，送岳父母
        </string>
        <key>婚纱照</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14608069&amp;q=婚纱照，特价婚纱照，团购婚纱照
        </string>
        <key>婚庆</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14618087&amp;q=婚庆公司，婚庆，特价婚庆，高档婚庆
        </string>
        <key>婚车</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14608068&amp;q=租婚车，婚车，高档婚车，特价婚车
        </string>
        <key>婚戒</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14622058&amp;q=婚戒，促销婚戒，高档婚戒，特价婚戒
        </string>
        <key>婚纱</key>
        <string>http://r.m.taobao.com/s?p=mm_47140496_4308880_14618086&amp;q=租婚纱，婚纱，高档婚纱，特价婚纱
        </string>
    </dict>
</plist>
